<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <h1> Debra-Kaye Smith</h1>
    <p>Hi, Welcome to my website! I am a passionate software engineering student with a love for coding, creativity, and video game development. I have experience in programming, web design, and graphic design, and I enjoy bringing ideas to life through technology. When I'm not coding, you can find me working on creative projects, volunteering, or playing video games. My goal is to merge my technical skills with my creative side to develop innovative and engaging digital experiences.</p>
    <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="My Profile Picture">
</body>
</html>
